	#top-content {
		padding-bottom:10px;
	}
	#content-top-left {
		position:absolute;
		left:0px;
		width:900px;
	}
	#content-top-right {
		margin-left:0px;
		width:700px;
	}
	#bottom-content {
		margin-top:10px;
		padding-bottom:10px;	
	}
	#content-bottom-left {
		margin-left:0px;
		width:700px;
	}
	#content-bottom-right {
		margin-left:0px;
		width:700px;
	}
