	body {
		background-image: url("http://img12.deviantart.net/7da3/i/2011/017/6/f/starfield_stock_by_freelancah-d2k5mcu.jpg");
	}	
	
	#top-content {
	}
	#content-top-left {
		position:absolute;
		left:50px;
		width:650px;
	}
	#content-top-right {
		position:absolute;
		left:780px;
		width:650px;
	}
	#bottom-content {
	}
	#content-bottom-left {
		position:absolute;
		top:380px;
		left:0px;
		width:650px;
		background-color:#ECEBE4;
		opacity: 1.0;
	}
	#content-bottom-right {
		position:absolute;
		top:390px;
		left:720px;
		width:600px;
	}
