	body {
		background-image: url("http://img12.deviantart.net/7da3/i/2011/017/6/f/starfield_stock_by_freelancah-d2k5mcu.jpg");
	}	
	
	#top-content {
	}
	#content-top-left {
		position:absolute;
		left:0px;
		width:800px;
	}
	#content-top-right {
		position:absolute;
		left:800px;
		width:800px;
	}
	#bottom-content {
		position:absolute;
		top:375px;
	}
	#content-bottom-left {
		position:absolute;
		left:0px;
		width:800px;
	}
	#content-bottom-right {
		position:absolute;
		left:800px;
		width:800px;
	}
